
openpyxl
langchain_community
faiss-cpu
plotly
openai
PyPDF2
pytesseract

streamlit
torch==1.13.1+cpu
sentence-transformers==2.2.2
langchain-huggingface==0.0.3
transformers==4.21.3
numpy==1.24.3
pandas>=1.5.0
python-docx>=0.8.11
